

<table style="text-align: center; padding:10px">
  <thead style="text-align: center">
    <tr>
      <th>Full Name</th>
      <th>Number of Orders</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td style="border: 5px solid black; text-align:center; padding:10px"><%= customer.full_name %></td>
        <td style="border: 5px solid black; text-align:center; padding:10px"><%= customer.orders.count %></td>
        <td style="border: 5px solid black; text-align:center; padding:10px">
            <div style="display: flex; justify-content: space-between;">
            <%= button_to "Show", customer, method: :get, class: "btn btn-primary" %>
           
            <%= button_to "Edit", edit_customer_path(customer), method: :get, class: "btn btn-primary" %>
           
            <%= button_to "Delete", customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Customer", new_customer_path, class: "btn btn-primary" %>
