

<h1><%= icon('fa-solid fa-hat-wizard', 'user') %> Orders</h1>

<div class="container-fluid row">

  <% @orders.each do |order| %>
    <div class="col-sm">
      <div class="card border border-2 border-success p-1 mt-3" style="width: 18rem;">
          <div class="card-header text-center">
          <h3 class="mb-0">
             <%= icon('fa-solid fa-wand-sparkles', 'user') %>
            <%= order.product_name %>
          </h3>
          </div>

        
        <div class="card-body text-center">
        <%= order.customer.full_name %> is buying <%= order.product_count %>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <%= link_to 'Edit', edit_order_path(order), class: "btn btn-primary" %> 
          <%= button_to "Delete", order, method: :delete, data: { turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<br>

<p>
  <%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>
</p>

<p>
  <%= link_to "Back to customers", customers_path, class: "btn btn-primary" %>
</p>